In [1]:
import pandas as pd
import pandas_ta as ta
from flask import jsonify
data=pd.read_csv('test_data/NIFTY23DEC16500CE.csv')

In [2]:
data

,Unnamed: 0,date,open,high,low,close,volume,oi
0,0,2023-02-02 09:15:00+05:30,2100.05,2100.05,2100.0,2100.0,100,2750
1,1,2023-02-02 10:15:00+05:30,2100.00,2100.00,2100.0,2100.0,0,2750
2,2,2023-02-02 11:15:00+05:30,2100.00,2100.00,2100.0,2100.0,0,2750
3,3,2023-02-02 12:15:00+05:30,2100.00,2100.00,2100.0,2100.0,0,2750
4,4,2023-02-02 13:15:00+05:30,2100.00,2100.00,2100.0,2100.0,0,2750
...,...,...,...,...,...,...,...,...
206,206,2023-07-20 15:15:00+05:30,3850.00,3850.00,3850.0,3850.0,0,4200
207,207,2023-07-21 09:15:00+05:30,3850.00,3850.00,3850.0,3850.0,0,0
208,208,2023-07-27 14:15:00+05:30,3600.00,3600.00,3600.0,3600.0,0,4150
209,209,2023-07-27 15:15:00+05:30,3600.00,3600.00,3600.0,3600.0,0,4150
210,210,2023-07-28 09:15:00+05:30,3600.00,3600.00,3600.0,3600.0,0,0

In [3]:
data=pd.read_csv('test_data/LICI_minute_data_with_indicators.csv')
data[:500][['date','open','high','low','close']].to_dict(orient='records')

[{'date': '2022-05-17 10:47:00+05:30',
  'open': 899.8,
  'high': 900.85,
  'low': 899.5,
  'close': 900.85},
 {'date': '2022-05-17 10:48:00+05:30',
  'open': 900.75,
  'high': 900.95,
  'low': 900.35,
  'close': 900.8},
 {'date': '2022-05-17 10:49:00+05:30',
  'open': 900.9,
  'high': 901.95,
  'low': 900.5,
  'close': 901.9},
 {'date': '2022-05-17 10:50:00+05:30',
  'open': 902.0,
  'high': 903.0,
  'low': 901.15,
  'close': 902.4},
 {'date': '2022-05-17 10:51:00+05:30',
  'open': 902.0,
  'high': 902.1,
  'low': 901.25,
  'close': 901.8},
 {'date': '2022-05-17 10:52:00+05:30',
  'open': 901.8,
  'high': 901.9,
  'low': 901.1,
  'close': 901.45},
 {'date': '2022-05-17 10:53:00+05:30',
  'open': 901.2,
  'high': 901.75,
  'low': 900.2,
  'close': 900.45},
 {'date': '2022-05-17 10:54:00+05:30',
  'open': 900.35,
  'high': 900.35,
  'low': 897.8,
  'close': 898.8},
 {'date': '2022-05-17 10:55:00+05:30',
  'open': 898.5,
  'high': 898.9,
  'low': 898.0,
  'close': 898.25},
 {'date': '2022-05-17 10:56:00+05:30',
  'open': 898.55,
  'high': 898.9,
  'low': 898.15,
  'close': 898.9},
 {'date': '2022-05-17 10:57:00+05:30',
  'open': 898.9,
  'high': 900.0,
  'low': 898.65,
  'close': 899.5},
 {'date': '2022-05-17 10:58:00+05:30',
  'open': 899.7,
  'high': 900.0,
  'low': 898.55,
  'close': 898.55},
 {'date': '2022-05-17 10:59:00+05:30',
  'open': 898.4,
  'high': 898.8,
  'low': 897.9,
  'close': 898.2},
 {'date': '2022-05-17 11:00:00+05:30',
  'open': 898.15,
  'high': 898.45,
  'low': 897.8,
  'close': 898.05},
 {'date': '2022-05-17 11:01:00+05:30',
  'open': 898.0,
  'high': 898.75,
  'low': 898.0,
  'close': 898.7},
 {'date': '2022-05-17 11:02:00+05:30',
  'open': 898.75,
  'high': 898.75,
  'low': 896.55,
  'close': 896.7},
 {'date': '2022-05-17 11:03:00+05:30',
  'open': 896.6,
  'high': 897.0,
  'low': 891.2,
  'close': 892.4},
 {'date': '2022-05-17 11:04:00+05:30',
  'open': 891.6,
  'high': 891.9,
  'low': 885.0,
  'close': 886.65},
 {'date': '2022-05-17 11:05:00+05:30',
  'open': 887.0,
  'high': 887.0,
  'low': 881.0,
  'close': 884.85},
 {'date': '2022-05-17 11:06:00+05:30',
  'open': 884.65,
  'high': 885.0,
  'low': 883.05,
  'close': 883.05},
 {'date': '2022-05-17 11:07:00+05:30',
  'open': 882.95,
  'high': 885.0,
  'low': 882.85,
  'close': 884.8},
 {'date': '2022-05-17 11:08:00+05:30',
  'open': 884.5,
  'high': 885.0,
  'low': 880.0,
  'close': 881.65},
 {'date': '2022-05-17 11:09:00+05:30',
  'open': 881.05,
  'high': 881.1,
  'low': 878.1,
  'close': 879.4},
 {'date': '2022-05-17 11:10:00+05:30',
  'open': 879.95,
  'high': 880.0,
  'low': 877.6,
  'close': 879.0},
 {'date': '2022-05-17 11:11:00+05:30',
  'open': 879.0,
  'high': 880.95,
  'low': 878.85,
  'close': 880.5},
 {'date': '2022-05-17 11:12:00+05:30',
  'open': 880.85,
  'high': 882.4,
  'low': 880.5,
  'close': 882.4},
 {'date': '2022-05-17 11:13:00+05:30',
  'open': 882.25,
  'high': 883.7,
  'low': 882.25,
  'close': 883.5},
 {'date': '2022-05-17 11:14:00+05:30',
  'open': 883.05,
  'high': 883.65,
  'low': 881.0,
  'close': 881.25},
 {'date': '2022-05-17 11:15:00+05:30',
  'open': 881.5,
  'high': 881.5,
  'low': 876.25,
  'close': 876.75},
 {'date': '2022-05-17 11:16:00+05:30',
  'open': 876.65,
  'high': 879.75,
  'low': 876.1,
  'close': 879.2},
 {'date': '2022-05-17 11:17:00+05:30',
  'open': 879.0,
  'high': 883.8,
  'low': 879.0,
  'close': 883.7},
 {'date': '2022-05-17 11:18:00+05:30',
  'open': 883.5,
  'high': 883.85,
  'low': 882.45,
  'close': 882.75},
 {'date': '2022-05-17 11:19:00+05:30',
  'open': 883.0,
  'high': 884.8,
  'low': 882.6,
  'close': 884.3},
 {'date': '2022-05-17 11:20:00+05:30',
  'open': 883.7,
  'high': 884.55,
  'low': 883.35,
  'close': 883.9},
 {'date': '2022-05-17 11:21:00+05:30',
  'open': 883.95,
  'high': 884.8,
  'low': 883.95,
  'close': 884.7},
 {'date': '2022-05-17 11:22:00+05:30',
  'open': 884.5,
  'high': 884.9,
  'low': 883.8,
  'close': 884.8},
 {'date': '2022-05-17 11:23:00+05:30',
  'open': 884.9,
  'high': 890.0,
  'low': 884.6,
  'close': 888.6},
 {'date': '2022-05-17 11:24:00+05:30',
  'open': 888.8,
  'high': 888.9,
  'low': 887.6,
  'close': 888.5},
 {'date': '2022-05-17 11:25:00+05:30',
  'open': 889.0,
  'high': 889.85,
  'low': 888.45,
  'close': 889.25},
 {'date': '2022-05-17 11:26:00+05:30',
  'open': 889.45,
  'high': 889.45,
  'low': 888.1,
  'close': 888.45},
 {'date': '2022-05-17 11:27:00+05:30',
  'open': 888.45,
  'high': 888.7,
  'low': 886.5,
  'close': 886.95},
 {'date': '2022-05-17 11:28:00+05:30',
  'open': 886.85,
  'high': 888.0,
  'low': 886.35,
  'close': 887.95},
 {'date': '2022-05-17 11:29:00+05:30',
  'open': 887.75,
  'high': 889.0,
  'low': 887.55,
  'close': 888.7},
 {'date': '2022-05-17 11:30:00+05:30',
  'open': 888.7,
  'high': 888.7,
  'low': 885.3,
  'close': 886.0},
 {'date': '2022-05-17 11:31:00+05:30',
  'open': 885.75,
  'high': 887.8,
  'low': 885.7,
  'close': 886.9},
 {'date': '2022-05-17 11:32:00+05:30',
  'open': 886.9,
  'high': 888.0,
  'low': 886.85,
  'close': 887.7},
 {'date': '2022-05-17 11:33:00+05:30',
  'open': 887.85,
  'high': 888.9,
  'low': 887.4,
  'close': 887.85},
 {'date': '2022-05-17 11:34:00+05:30',
  'open': 887.55,
  'high': 888.0,
  'low': 887.1,
  'close': 888.0},
 {'date': '2022-05-17 11:35:00+05:30',
  'open': 888.0,
  'high': 888.85,
  'low': 887.15,
  'close': 887.5},
 {'date': '2022-05-17 11:36:00+05:30',
  'open': 887.15,
  'high': 888.0,
  'low': 887.15,
  'close': 887.75},
 {'date': '2022-05-17 11:37:00+05:30',
  'open': 887.7,
  'high': 887.9,
  'low': 887.2,
  'close': 887.6},
 {'date': '2022-05-17 11:38:00+05:30',
  'open': 887.9,
  'high': 887.9,
  'low': 887.35,
  'close': 887.7},
 {'date': '2022-05-17 11:39:00+05:30',
  'open': 887.7,
  'high': 887.95,
  'low': 885.0,
  'close': 885.4},
 {'date': '2022-05-17 11:40:00+05:30',
  'open': 884.45,
  'high': 886.45,
  'low': 884.1,
  'close': 886.2},
 {'date': '2022-05-17 11:41:00+05:30',
  'open': 886.1,
  'high': 887.0,
  'low': 886.1,
  'close': 886.55},
 {'date': '2022-05-17 11:42:00+05:30',
  'open': 886.6,
  'high': 887.0,
  'low': 886.4,
  'close': 887.0},
 {'date': '2022-05-17 11:43:00+05:30',
  'open': 886.75,
  'high': 887.95,
  'low': 886.55,
  'close': 887.95},
 {'date': '2022-05-17 11:44:00+05:30',
  'open': 887.65,
  'high': 888.5,
  'low': 887.4,
  'close': 887.45},
 {'date': '2022-05-17 11:45:00+05:30',
  'open': 887.35,
  'high': 888.0,
  'low': 887.35,
  'close': 887.9},
 {'date': '2022-05-17 11:46:00+05:30',
  'open': 887.9,
  'high': 889.0,
  'low': 887.2,
  'close': 888.65},
 {'date': '2022-05-17 11:47:00+05:30',
  'open': 888.6,
  'high': 889.4,
  'low': 888.6,
  'close': 889.0},
 {'date': '2022-05-17 11:48:00+05:30',
  'open': 888.7,
  'high': 893.75,
  'low': 888.6,
  'close': 893.0},
 {'date': '2022-05-17 11:49:00+05:30',
  'open': 893.0,
  'high': 893.85,
  'low': 891.6,
  'close': 892.7},
 {'date': '2022-05-17 11:50:00+05:30',
  'open': 892.7,
  'high': 893.05,
  'low': 891.5,
  'close': 891.9},
 {'date': '2022-05-17 11:51:00+05:30',
  'open': 891.5,
  'high': 892.95,
  'low': 891.5,
  'close': 892.6},
 {'date': '2022-05-17 11:52:00+05:30',
  'open': 892.7,
  'high': 894.75,
  'low': 892.5,
  'close': 894.35},
 {'date': '2022-05-17 11:53:00+05:30',
  'open': 894.25,
  'high': 894.35,
  'low': 892.65,
  'close': 892.65},
 {'date': '2022-05-17 11:54:00+05:30',
  'open': 892.65,
  'high': 893.0,
  'low': 891.25,
  'close': 891.4},
 {'date': '2022-05-17 11:55:00+05:30',
  'open': 891.25,
  'high': 892.35,
  'low': 891.0,
  'close': 892.25},
 {'date': '2022-05-17 11:56:00+05:30',
  'open': 892.3,
  'high': 892.5,
  'low': 891.4,
  'close': 891.85},
 {'date': '2022-05-17 11:57:00+05:30',
  'open': 891.9,
  'high': 893.55,
  'low': 891.85,
  'close': 893.4},
 {'date': '2022-05-17 11:58:00+05:30',
  'open': 893.1,
  'high': 893.85,
  'low': 892.95,
  'close': 893.4},
 {'date': '2022-05-17 11:59:00+05:30',
  'open': 893.5,
  'high': 893.6,
  'low': 892.25,
  'close': 893.1},
 {'date': '2022-05-17 12:00:00+05:30',
  'open': 893.05,
  'high': 894.1,
  'low': 893.05,
  'close': 893.95},
 {'date': '2022-05-17 12:01:00+05:30',
  'open': 893.85,
  'high': 896.0,
  'low': 893.35,
  'close': 896.0},
 {'date': '2022-05-17 12:02:00+05:30',
  'open': 895.95,
  'high': 896.9,
  'low': 894.95,
  'close': 894.95},
 {'date': '2022-05-17 12:03:00+05:30',
  'open': 894.7,
  'high': 894.75,
  'low': 893.0,
  'close': 893.45},
 {'date': '2022-05-17 12:04:00+05:30',
  'open': 893.15,
  'high': 893.4,
  'low': 891.65,
  'close': 891.75},
 {'date': '2022-05-17 12:05:00+05:30',
  'open': 892.0,
  'high': 892.95,
  'low': 891.35,
  'close': 892.95},
 {'date': '2022-05-17 12:06:00+05:30',
  'open': 892.55,
  'high': 893.5,
  'low': 892.55,
  'close': 892.9},
 {'date': '2022-05-17 12:07:00+05:30',
  'open': 892.9,
  'high': 893.0,
  'low': 890.1,
  'close': 890.55},
 {'date': '2022-05-17 12:08:00+05:30',
  'open': 890.25,
  'high': 892.85,
  'low': 890.0,
  'close': 892.55},
 {'date': '2022-05-17 12:09:00+05:30',
  'open': 892.2,
  'high': 892.8,
  'low': 891.85,
  'close': 892.8},
 {'date': '2022-05-17 12:10:00+05:30',
  'open': 892.85,
  'high': 893.5,
  'low': 892.2,
  'close': 892.85},
 {'date': '2022-05-17 12:11:00+05:30',
  'open': 892.6,
  'high': 892.9,
  'low': 890.15,
  'close': 890.45},
 {'date': '2022-05-17 12:12:00+05:30',
  'open': 890.5,
  'high': 892.0,
  'low': 890.2,
  'close': 891.5},
 {'date': '2022-05-17 12:13:00+05:30',
  'open': 891.5,
  'high': 891.8,
  'low': 891.2,
  'close': 891.35},
 {'date': '2022-05-17 12:14:00+05:30',
  'open': 891.7,
  'high': 891.8,
  'low': 890.25,
  'close': 890.7},
 {'date': '2022-05-17 12:15:00+05:30',
  'open': 890.55,
  'high': 890.9,
  'low': 887.9,
  'close': 888.75},
 {'date': '2022-05-17 12:16:00+05:30',
  'open': 888.75,
  'high': 889.65,
  'low': 887.85,
  'close': 889.25},
 {'date': '2022-05-17 12:17:00+05:30',
  'open': 889.5,
  'high': 890.85,
  'low': 889.0,
  'close': 890.5},
 {'date': '2022-05-17 12:18:00+05:30',
  'open': 890.5,
  'high': 891.5,
  'low': 890.15,
  'close': 891.5},
 {'date': '2022-05-17 12:19:00+05:30',
  'open': 891.15,
  'high': 891.6,
  'low': 890.6,
  'close': 891.1},
 {'date': '2022-05-17 12:20:00+05:30',
  'open': 891.1,
  'high': 891.65,
  'low': 889.05,
  'close': 889.05},
 {'date': '2022-05-17 12:21:00+05:30',
  'open': 889.15,
  'high': 890.65,
  'low': 889.15,
  'close': 889.75},
 {'date': '2022-05-17 12:22:00+05:30',
  'open': 889.55,
  'high': 890.0,
  'low': 889.35,
  'close': 889.45},
 {'date': '2022-05-17 12:23:00+05:30',
  'open': 889.6,
  'high': 889.85,
  'low': 889.35,
  'close': 889.35},
 {'date': '2022-05-17 12:24:00+05:30',
  'open': 889.6,
  'high': 889.75,
  'low': 887.6,
  'close': 888.45},
 {'date': '2022-05-17 12:25:00+05:30',
  'open': 888.7,
  'high': 888.85,
  'low': 887.55,
  'close': 888.3},
 {'date': '2022-05-17 12:26:00+05:30',
  'open': 888.25,
  'high': 888.35,
  'low': 887.35,
  'close': 887.5},
 {'date': '2022-05-17 12:27:00+05:30',
  'open': 887.7,
  'high': 888.0,
  'low': 887.1,
  'close': 887.5},
 {'date': '2022-05-17 12:28:00+05:30',
  'open': 887.5,
  'high': 887.9,
  'low': 886.3,
  'close': 886.95},
 {'date': '2022-05-17 12:29:00+05:30',
  'open': 886.6,
  'high': 888.85,
  'low': 886.35,
  'close': 888.85},
 {'date': '2022-05-17 12:30:00+05:30',
  'open': 888.55,
  'high': 889.7,
  'low': 888.4,
  'close': 888.5},
 {'date': '2022-05-17 12:31:00+05:30',
  'open': 888.65,
  'high': 888.7,
  'low': 887.65,
  'close': 888.0},
 {'date': '2022-05-17 12:32:00+05:30',
  'open': 887.9,
  'high': 888.0,
  'low': 887.15,
  'close': 887.2},
 {'date': '2022-05-17 12:33:00+05:30',
  'open': 887.2,
  'high': 887.2,
  'low': 886.0,
  'close': 886.4},
 {'date': '2022-05-17 12:34:00+05:30',
  'open': 886.45,
  'high': 886.45,
  'low': 885.4,
  'close': 885.55},
 {'date': '2022-05-17 12:35:00+05:30',
  'open': 885.75,
  'high': 887.5,
  'low': 885.45,
  'close': 886.85},
 {'date': '2022-05-17 12:36:00+05:30',
  'open': 886.8,
  'high': 886.85,
  'low': 886.1,
  'close': 886.5},
 {'date': '2022-05-17 12:37:00+05:30',
  'open': 886.6,
  'high': 887.8,
  'low': 886.5,
  'close': 887.35},
 {'date': '2022-05-17 12:38:00+05:30',
  'open': 887.75,
  'high': 889.45,
  'low': 887.3,
  'close': 889.35},
 {'date': '2022-05-17 12:39:00+05:30',
  'open': 889.35,
  'high': 889.45,
  'low': 888.4,
  'close': 889.0},
 {'date': '2022-05-17 12:40:00+05:30',
  'open': 888.6,
  'high': 889.4,
  'low': 888.0,
  'close': 889.2},
 {'date': '2022-05-17 12:41:00+05:30',
  'open': 889.2,
  'high': 889.65,
  'low': 887.7,
  'close': 888.2},
 {'date': '2022-05-17 12:42:00+05:30',
  'open': 888.1,
  'high': 888.55,
  'low': 888.0,
  'close': 888.35},
 {'date': '2022-05-17 12:43:00+05:30',
  'open': 888.45,
  'high': 888.85,
  'low': 888.3,
  'close': 888.65},
 {'date': '2022-05-17 12:44:00+05:30',
  'open': 888.45,
  'high': 889.0,
  'low': 887.75,
  'close': 888.0},
 {'date': '2022-05-17 12:45:00+05:30',
  'open': 888.2,
  'high': 888.8,
  'low': 888.0,
  'close': 888.7},
 {'date': '2022-05-17 12:46:00+05:30',
  'open': 888.3,
  'high': 888.7,
  'low': 888.1,
  'close': 888.25},
 {'date': '2022-05-17 12:47:00+05:30',
  'open': 888.2,
  'high': 888.2,
  'low': 886.75,
  'close': 886.95},
 {'date': '2022-05-17 12:48:00+05:30',
  'open': 887.2,
  'high': 887.4,
  'low': 886.65,
  'close': 887.05},
 {'date': '2022-05-17 12:49:00+05:30',
  'open': 887.2,
  'high': 887.35,
  'low': 886.65,
  'close': 887.15},
 {'date': '2022-05-17 12:50:00+05:30',
  'open': 887.0,
  'high': 887.15,
  'low': 886.1,
  'close': 886.3},
 {'date': '2022-05-17 12:51:00+05:30',
  'open': 886.25,
  'high': 887.45,
  'low': 886.25,
  'close': 887.3},
 {'date': '2022-05-17 12:52:00+05:30',
  'open': 887.0,
  'high': 887.35,
  'low': 886.05,
  'close': 886.5},
 {'date': '2022-05-17 12:53:00+05:30',
  'open': 886.05,
  'high': 886.7,
  'low': 886.05,
  'close': 886.25},
 {'date': '2022-05-17 12:54:00+05:30',
  'open': 886.25,
  'high': 886.5,
  'low': 885.15,
  'close': 885.15},
 {'date': '2022-05-17 12:55:00+05:30',
  'open': 885.35,
  'high': 885.5,
  'low': 883.75,
  'close': 883.75},
 {'date': '2022-05-17 12:56:00+05:30',
  'open': 883.7,
  'high': 884.0,
  'low': 883.0,
  'close': 883.0},
 {'date': '2022-05-17 12:57:00+05:30',
  'open': 883.2,
  'high': 884.75,
  'low': 883.1,
  'close': 884.7},
 {'date': '2022-05-17 12:58:00+05:30',
  'open': 884.8,
  'high': 886.4,
  'low': 884.55,
  'close': 886.05},
 {'date': '2022-05-17 12:59:00+05:30',
  'open': 886.05,
  'high': 886.6,
  'low': 885.35,
  'close': 886.6},
 {'date': '2022-05-17 13:00:00+05:30',
  'open': 886.1,
  'high': 886.8,
  'low': 886.0,
  'close': 886.2},
 {'date': '2022-05-17 13:01:00+05:30',
  'open': 886.2,
  'high': 886.2,
  'low': 885.2,
  'close': 885.5},
 {'date': '2022-05-17 13:02:00+05:30',
  'open': 885.5,
  'high': 885.5,
  'low': 884.2,
  'close': 884.7},
 {'date': '2022-05-17 13:03:00+05:30',
  'open': 884.7,
  'high': 884.7,
  'low': 884.55,
  'close': 884.55},
 {'date': '2022-05-17 13:04:00+05:30',
  'open': 884.55,
  'high': 884.9,
  'low': 884.1,
  'close': 884.5},
 {'date': '2022-05-17 13:05:00+05:30',
  'open': 884.9,
  'high': 885.7,
  'low': 884.6,
  'close': 884.9},
 {'date': '2022-05-17 13:06:00+05:30',
  'open': 884.9,
  'high': 885.0,
  'low': 884.0,
  'close': 884.0},
 {'date': '2022-05-17 13:07:00+05:30',
  'open': 883.85,
  'high': 884.4,
  'low': 883.4,
  'close': 883.55},
 {'date': '2022-05-17 13:08:00+05:30',
  'open': 883.6,
  'high': 884.9,
  'low': 883.5,
  'close': 884.45},
 {'date': '2022-05-17 13:09:00+05:30',
  'open': 884.45,
  'high': 884.45,
  'low': 883.5,
  'close': 883.8},
 {'date': '2022-05-17 13:10:00+05:30',
  'open': 883.6,
  'high': 883.8,
  'low': 880.7,
  'close': 882.2},
 {'date': '2022-05-17 13:11:00+05:30',
  'open': 882.25,
  'high': 884.75,
  'low': 881.8,
  'close': 884.2},
 {'date': '2022-05-17 13:12:00+05:30',
  'open': 884.7,
  'high': 884.75,
  'low': 882.65,
  'close': 882.95},
 {'date': '2022-05-17 13:13:00+05:30',
  'open': 883.0,
  'high': 884.0,
  'low': 882.6,
  'close': 883.95},
 {'date': '2022-05-17 13:14:00+05:30',
  'open': 883.95,
  'high': 883.95,
  'low': 882.5,
  'close': 882.85},
 {'date': '2022-05-17 13:15:00+05:30',
  'open': 882.85,
  'high': 883.35,
  'low': 882.0,
  'close': 882.9},
 {'date': '2022-05-17 13:16:00+05:30',
  'open': 882.75,
  'high': 884.2,
  'low': 882.65,
  'close': 884.0},
 {'date': '2022-05-17 13:17:00+05:30',
  'open': 884.0,
  'high': 884.0,
  'low': 883.4,
  'close': 883.95},
 {'date': '2022-05-17 13:18:00+05:30',
  'open': 883.95,
  'high': 883.95,
  'low': 882.9,
  'close': 883.15},
 {'date': '2022-05-17 13:19:00+05:30',
  'open': 883.0,
  'high': 883.4,
  'low': 882.65,
  'close': 883.3},
 {'date': '2022-05-17 13:20:00+05:30',
  'open': 883.25,
  'high': 884.0,
  'low': 883.25,
  'close': 883.7},
 {'date': '2022-05-17 13:21:00+05:30',
  'open': 883.6,
  'high': 884.5,
  'low': 883.55,
  'close': 884.5},
 {'date': '2022-05-17 13:22:00+05:30',
  'open': 884.5,
  'high': 884.9,
  'low': 884.45,
  'close': 884.8},
 {'date': '2022-05-17 13:23:00+05:30',
  'open': 884.8,
  'high': 884.9,
  'low': 884.25,
  'close': 884.4},
 {'date': '2022-05-17 13:24:00+05:30',
  'open': 884.7,
  'high': 884.8,
  'low': 884.3,
  'close': 884.7},
 {'date': '2022-05-17 13:25:00+05:30',
  'open': 884.3,
  'high': 884.8,
  'low': 883.75,
  'close': 884.2},
 {'date': '2022-05-17 13:26:00+05:30',
  'open': 884.5,
  'high': 884.95,
  'low': 884.0,
  'close': 884.9},
 {'date': '2022-05-17 13:27:00+05:30',
  'open': 884.95,
  'high': 884.95,
  'low': 884.0,
  'close': 884.45},
 {'date': '2022-05-17 13:28:00+05:30',
  'open': 884.1,
  'high': 884.5,
  'low': 883.0,
  'close': 883.3},
 {'date': '2022-05-17 13:29:00+05:30',
  'open': 883.0,
  'high': 883.3,
  'low': 882.1,
  'close': 882.65},
 {'date': '2022-05-17 13:30:00+05:30',
  'open': 882.4,
  'high': 882.5,
  'low': 881.05,
  'close': 881.05},
 {'date': '2022-05-17 13:31:00+05:30',
  'open': 881.1,
  'high': 881.7,
  'low': 880.2,
  'close': 881.0},
 {'date': '2022-05-17 13:32:00+05:30',
  'open': 881.0,
  'high': 881.05,
  'low': 878.55,
  'close': 879.35},
 {'date': '2022-05-17 13:33:00+05:30',
  'open': 879.35,
  'high': 879.85,
  'low': 878.3,
  'close': 878.75},
 {'date': '2022-05-17 13:34:00+05:30',
  'open': 878.95,
  'high': 880.0,
  'low': 878.65,
  'close': 878.65},
 {'date': '2022-05-17 13:35:00+05:30',
  'open': 878.95,
  'high': 878.95,
  'low': 876.0,
  'close': 877.3},
 {'date': '2022-05-17 13:36:00+05:30',
  'open': 877.15,
  'high': 878.9,
  'low': 877.1,
  'close': 878.25},
 {'date': '2022-05-17 13:37:00+05:30',
  'open': 878.55,
  'high': 879.95,
  'low': 878.2,
  'close': 879.7},
 {'date': '2022-05-17 13:38:00+05:30',
  'open': 879.55,
  'high': 879.85,
  'low': 879.05,
  'close': 879.05},
 {'date': '2022-05-17 13:39:00+05:30',
  'open': 879.5,
  'high': 879.5,
  'low': 877.0,
  'close': 877.0},
 {'date': '2022-05-17 13:40:00+05:30',
  'open': 877.35,
  'high': 878.6,
  'low': 876.5,
  'close': 878.35},
 {'date': '2022-05-17 13:41:00+05:30',
  'open': 878.1,
  'high': 878.9,
  'low': 877.85,
  'close': 878.25},
 {'date': '2022-05-17 13:42:00+05:30',
  'open': 878.25,
  'high': 878.45,
  'low': 875.55,
  'close': 876.4},
 {'date': '2022-05-17 13:43:00+05:30',
  'open': 876.1,
  'high': 876.8,
  'low': 874.0,
  'close': 875.0},
 {'date': '2022-05-17 13:44:00+05:30',
  'open': 875.15,
  'high': 877.8,
  'low': 875.15,
  'close': 876.0},
 {'date': '2022-05-17 13:45:00+05:30',
  'open': 876.0,
  'high': 876.7,
  'low': 875.65,
  'close': 875.7},
 {'date': '2022-05-17 13:46:00+05:30',
  'open': 875.7,
  'high': 877.5,
  'low': 875.55,
  'close': 877.2},
 {'date': '2022-05-17 13:47:00+05:30',
  'open': 877.0,
  'high': 878.6,
  'low': 877.0,
  'close': 878.55},
 {'date': '2022-05-17 13:48:00+05:30',
  'open': 878.3,
  'high': 879.25,
  'low': 878.2,
  'close': 879.0},
 {'date': '2022-05-17 13:49:00+05:30',

In [4]:
data1.to_dict(orient='records')

NameError: name 'data1' is not defined

In [ ]:
data['date'].astype(int)

ValueError: invalid literal for int() with base 10: '2023-02-02 09:15:00+05:30'

In [ ]:
def convert_to_unix_timestamp(date_string):
    date_obj = pd.to_datetime(date_string)
    return int(date_obj.timestamp())  # Convert to milliseconds

In [ ]:
data['date'].apply(convert_to_unix_timestamp)

0      1675309500
1      1675313100
2      1675316700
3      1675320300
4      1675323900
          ...
206    1689846300
207    1689911100
208    1690447500
209    1690451100
210    1690515900
Name: date, Length: 211, dtype: int64

In [13]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
sparkContext=spark.sparkContext
sparkContext.parallelize()
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
data=spark.read.csv('test_data/NIFTY23DEC16500CE.csv',inferSchema=True,header=True)

In [30]:
import os
os.listdir("data")
'ACC_minute_data_with_indicators.csv' in os.listdir("data")

True

In [ ]:
import pyspark.sql.functions as f
data['date'] = data.select(f.date_format('date', 'yyyy:dd:MM HH:MM:SS').alias('date')).collect()

TypeError: 'DataFrame' object does not support item assignment

In [67]:
import pandas as pd
import datetime
data = pd.read_csv("test_data/LICI_minute_data_with_indicators.csv")
data['date'] = pd.to_datetime(data['date'])
data = data.loc[(data.date.dt.time >= datetime.time(9, 15)) & (data.date.dt.time < datetime.time(15, 30))]
data = data.set_index(pd.DatetimeIndex(data['date']))
data = data.resample('240T',offset = '75T').agg({
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
        'volume': 'sum'
    })

In [68]:
data[40:60]

                             open    high     low   close   volume
date
2022-05-24 01:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-24 05:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-24 09:15:00+05:30  818.00  834.55  817.90  826.35  3161651
2022-05-24 13:15:00+05:30  826.50  828.20  820.10  824.80  1098244
2022-05-24 17:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-24 21:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-25 01:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-25 05:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-25 09:15:00+05:30  831.50  841.00  826.75  830.30  2639914
2022-05-25 13:15:00+05:30  830.00  834.90  814.25  814.95  1337742
2022-05-25 17:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-25 21:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-26 01:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-26 05:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-26 09:15:00+05:30  820.30  824.80  801.00  813.80  1848504
2022-05-26 13:15:00+05:30  813.75  814.60  808.55  812.85   925537
2022-05-26 17:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-26 21:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-27 01:15:00+05:30     NaN     NaN     NaN     NaN        0
2022-05-27 05:15:00+05:30     NaN     NaN     NaN     NaN        0

In [ ]:
import datetime
data['date'] = data['date'].dt.round('min')
data = data.loc[(data.date.dt.time >= datetime.time(9, 15)) & (data.date.dt.time < datetime.time(15, 30))]
data = data.set_index(pd.DatetimeIndex(data['date']))
data = data.resample('120T',offset = "75T").agg({
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
        'volume': 'sum'
    })

In [ ]:
data.index.apply(
        lambda x: x.strftime("%H:%m:%S"))

AttributeError: 'DatetimeIndex' object has no attribute 'apply'

In [ ]:
data.dropna()

                             open    high     low   close   volume
date
2022-05-17 09:15:00+05:30  899.80  903.00  877.60  881.25  5294215
2022-05-17 11:15:00+05:30  881.50  896.90  876.10  882.85  6186581
2022-05-17 13:15:00+05:30  882.85  887.90  872.55  875.50  8072808
2022-05-17 15:15:00+05:30  875.50  875.50  872.00  873.00  2282995
2022-05-18 09:15:00+05:30  885.55  890.45  877.10  882.80  5508372
...                           ...     ...     ...     ...      ...
2022-10-20 15:15:00+05:30  601.35  601.80  600.00  600.40   175346
2022-10-21 09:15:00+05:30  601.15  601.15  594.20  594.40   773531
2022-10-21 11:15:00+05:30  594.40  594.95  592.60  593.20   321226
2022-10-21 13:15:00+05:30  593.20  593.50  589.00  589.50   577444
2022-10-21 15:15:00+05:30  589.35  589.50  588.00  588.95   169787

[412 rows x 5 columns]

In [ ]:
pdf = pd.read_csv(r'data/stock_data.zip',compression='zip', sep=';')

ValueError: Multiple files found in ZIP file. Only one file per ZIP: ['1. Data description.txt', 'ACC_minute_data_with_indicators.csv', 'ADANIENT_minute_data_with_indicators.csv', 'ADANIGREEN_minute_data_with_indicators.csv', 'ADANIPORTS_minute_data_with_indicators.csv', 'AMBUJACEM_minute_data_with_indicators.csv', 'APOLLOHOSP_minute_data_with_indicators.csv', 'ASIANPAINT_minute_data_with_indicators.csv', 'AUROPHARMA_minute_data_with_indicators.csv', 'AXISBANK_minute_data_with_indicators.csv', 'BAJAJ-AUTO_minute_data_with_indicators.csv', 'BAJAJFINSV_minute_data_with_indicators.csv', 'BAJAJHLDNG_minute_data_with_indicators.csv', 'BAJFINANCE_minute_data_with_indicators.csv', 'BANDHANBNK_minute_data_with_indicators.csv', 'BANKBARODA_minute_data_with_indicators.csv', 'BERGEPAINT_minute_data_with_indicators.csv', 'BHARTIARTL_minute_data_with_indicators.csv', 'BIOCON_minute_data_with_indicators.csv', 'BOSCHLTD_minute_data_with_indicators.csv', 'BPCL_minute_data_with_indicators.csv', 'BRITANNIA_minute_data_with_indicators.csv', 'CHOLAFIN_minute_data_with_indicators.csv', 'CIPLA_minute_data_with_indicators.csv', 'COALINDIA_minute_data_with_indicators.csv', 'COLPAL_minute_data_with_indicators.csv', 'DABUR_minute_data_with_indicators.csv', 'DIVISLAB_minute_data_with_indicators.csv', 'DLF_minute_data_with_indicators.csv', 'DMART_minute_data_with_indicators.csv', 'DRREDDY_minute_data_with_indicators.csv', 'EICHERMOT_minute_data_with_indicators.csv', 'GAIL_minute_data_with_indicators.csv', 'GLAND_minute_data_with_indicators.csv', 'GODREJCP_minute_data_with_indicators.csv', 'GRASIM_minute_data_with_indicators.csv', 'HAVELLS_minute_data_with_indicators.csv', 'HCLTECH_minute_data_with_indicators.csv', 'HDFCAMC_minute_data_with_indicators.csv', 'HDFCBANK_minute_data_with_indicators.csv', 'HDFCLIFE_minute_data_with_indicators.csv', 'HDFC_minute_data_with_indicators.csv', 'HEROMOTOCO_minute_data_with_indicators.csv', 'HINDALCO_minute_data_with_indicators.csv', 'HINDPETRO_minute_data_with_indicators.csv', 'HINDUNILVR_minute_data_with_indicators.csv', 'ICICIBANK_minute_data_with_indicators.csv', 'ICICIGI_minute_data_with_indicators.csv', 'ICICIPRULI_minute_data_with_indicators.csv', 'IGL_minute_data_with_indicators.csv', 'INDIGO_minute_data_with_indicators.csv', 'INDUSINDBK_minute_data_with_indicators.csv', 'INDUSTOWER_minute_data_with_indicators.csv', 'INFY_minute_data_with_indicators.csv', 'IOC_minute_data_with_indicators.csv', 'ITC_minute_data_with_indicators.csv', 'JINDALSTEL_minute_data_with_indicators.csv', 'JSWSTEEL_minute_data_with_indicators.csv', 'JUBLFOOD_minute_data_with_indicators.csv', 'KOTAKBANK_minute_data_with_indicators.csv', 'LICI_minute_data_with_indicators.csv', 'LTI_minute_data_with_indicators.csv', 'LT_minute_data_with_indicators.csv', 'LUPIN_minute_data_with_indicators.csv', 'MARICO_minute_data_with_indicators.csv', 'MARUTI_minute_data_with_indicators.csv', 'MCDOWELL-N_minute_data_with_indicators.csv', 'MM_minute_data_with_indicators.csv', 'MUTHOOTFIN_minute_data_with_indicators.csv', 'NAUKRI_minute_data_with_indicators.csv', 'NESTLEIND_minute_data_with_indicators.csv', 'NIFTY 50_minute_data_with_indicators.csv', 'NIFTY BANK_minute_data_with_indicators.csv', 'NMDC_minute_data_with_indicators.csv', 'NTPC_minute_data_with_indicators.csv', 'ONGC_minute_data_with_indicators.csv', 'PEL_minute_data_with_indicators.csv', 'PGHH_minute_data_with_indicators.csv', 'PIDILITIND_minute_data_with_indicators.csv', 'PIIND_minute_data_with_indicators.csv', 'PNB_minute_data_with_indicators.csv', 'POWERGRID_minute_data_with_indicators.csv', 'RELIANCE_minute_data_with_indicators.csv', 'SAIL_minute_data_with_indicators.csv', 'SBICARD_minute_data_with_indicators.csv', 'SBILIFE_minute_data_with_indicators.csv', 'SBIN_minute_data_with_indicators.csv', 'SHREECEM_minute_data_with_indicators.csv', 'SIEMENS_minute_data_with_indicators.csv', 'SUNPHARMA_minute_data_with_indicators.csv', 'TATACONSUM_minute_data_with_indicators.csv', 'TATAMOTORS_minute_data_with_indicators.csv', 'TATASTEEL_minute_data_with_indicators.csv', 'TCS_minute_data_with_indicators.csv', 'TECHM_minute_data_with_indicators.csv', 'TITAN_minute_data_with_indicators.csv', 'TORNTPHARM_minute_data_with_indicators.csv', 'ULTRACEMCO_minute_data_with_indicators.csv', 'UPL_minute_data_with_indicators.csv', 'VEDL_minute_data_with_indicators.csv', 'WIPRO_minute_data_with_indicators.csv', 'YESBANK_minute_data_with_indicators.csv']

In [5]:
import shutil
import zipfile

z = zipfile.ZipFile('data/stock_data.zip')

In [6]:
df=pd.DataFrame(z.filelist,columns=['zipobj'])

In [7]:
df['filename'] = df['zipobj'].apply(lambda x:x.filename)

In [ ]:
df.iloc[1].values[0].filename

'ACC_minute_data_with_indicators.csv'

In [8]:
df

,zipobj,filename
0,<ZipInfo filename='1. Data description.txt' co...,1. Data description.txt
1,<ZipInfo filename='ACC_minute_data_with_indica...,ACC_minute_data_with_indicators.csv
2,<ZipInfo filename='ADANIENT_minute_data_with_i...,ADANIENT_minute_data_with_indicators.csv
3,<ZipInfo filename='ADANIGREEN_minute_data_with...,ADANIGREEN_minute_data_with_indicators.csv
4,<ZipInfo filename='ADANIPORTS_minute_data_with...,ADANIPORTS_minute_data_with_indicators.csv
...,...,...
97,<ZipInfo filename='ULTRACEMCO_minute_data_with...,ULTRACEMCO_minute_data_with_indicators.csv
98,<ZipInfo filename='UPL_minute_data_with_indica...,UPL_minute_data_with_indicators.csv
99,<ZipInfo filename='VEDL_minute_data_with_indic...,VEDL_minute_data_with_indicators.csv
100,<ZipInfo filename='WIPRO_minute_data_with_indi...,WIPRO_minute_data_with_indicators.csv
101,<ZipInfo filename='YESBANK_minute_data_with_in...,YESBANK_minute_data_with_indicators.csv

In [24]:
def extraction(filename):
    z.extract(filename,"data")

In [27]:


word=spark.parallelize(df['filename'].tolist())
word.foreach(extraction)

Traceback (most recent call last):
  File "c:\Users\mange\.conda\envs\algo\lib\site-packages\pyspark\serializers.py", line 437, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
  File "c:\Users\mange\.conda\envs\algo\lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "c:\Users\mange\.conda\envs\algo\lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 563, in dump
    return Pickler.dump(self, obj)
TypeError: cannot pickle '_io.BufferedReader' object

PicklingError: Could not serialize object: TypeError: cannot pickle '_io.BufferedReader' object

In [ ]:
z.read("ACC_minute_data_with_indicators.csv")

In [89]:
data= pd.read_csv('c:\\Users\\mange\\Desktop\\shubham_assignment\\ACC_minute_data_with_indicators.csv')[0:5000][['date','open','high','low','close']]

In [22]:
data_sp = spark.read.csv('c:\\Users\\mange\\Desktop\\shubham_assignment\\ACC_minute_data_with_indicators.csv',header=True,inferSchema=True)

In [18]:
data.columns

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

In [49]:
data_pd['date1'] = pd.to_datetime(data_pd['date'])
data_pd = data_pd.set_index(pd.DatetimeIndex(data_pd['date1']))
data_pd[['date','open','high','low','close']][:20].to_dict(orient='records')

[{'date': '2015-02-02 10:18:00+05:30',
  'open': 1545.0,
  'high': 1545.0,
  'low': 1543.1,
  'close': 1544.0},
 {'date': '2015-02-02 10:19:00+05:30',
  'open': 1544.0,
  'high': 1544.0,
  'low': 1543.0,
  'close': 1543.7},
 {'date': '2015-02-02 10:20:00+05:30',
  'open': 1543.7,
  'high': 1543.7,
  'low': 1542.5,
  'close': 1543.0},
 {'date': '2015-02-02 10:21:00+05:30',
  'open': 1543.0,
  'high': 1543.0,
  'low': 1542.3,
  'close': 1542.3},
 {'date': '2015-02-02 10:22:00+05:30',
  'open': 1541.1,
  'high': 1542.15,
  'low': 1541.1,
  'close': 1542.1},
 {'date': '2015-02-02 10:23:00+05:30',
  'open': 1542.1,
  'high': 1542.1,
  'low': 1541.0,
  'close': 1541.0},
 {'date': '2015-02-02 10:24:00+05:30',
  'open': 1541.0,
  'high': 1541.0,
  'low': 1540.35,
  'close': 1540.35},
 {'date': '2015-02-02 10:25:00+05:30',
  'open': 1540.35,
  'high': 1543.15,
  'low': 1540.35,
  'close': 1543.15},
 {'date': '2015-02-02 10:26:00+05:30',
  'open': 1543.15,
  'high': 1543.3,
  'low': 1540.9,
  'close': 1540.9},
 {'date': '2015-02-02 10:27:00+05:30',
  'open': 1540.9,
  'high': 1542.05,
  'low': 1540.35,
  'close': 1542.0},
 {'date': '2015-02-02 10:28:00+05:30',
  'open': 1542.0,
  'high': 1542.0,
  'low': 1540.85,
  'close': 1542.0},
 {'date': '2015-02-02 10:29:00+05:30',
  'open': 1542.0,
  'high': 1542.0,
  'low': 1540.8,
  'close': 1541.6},
 {'date': '2015-02-02 10:30:00+05:30',
  'open': 1541.6,
  'high': 1541.6,
  'low': 1540.55,
  'close': 1540.55},
 {'date': '2015-02-02 10:31:00+05:30',
  'open': 1541.0,
  'high': 1541.55,
  'low': 1540.0,
  'close': 1541.55},
 {'date': '2015-02-02 10:32:00+05:30',
  'open': 1541.55,
  'high': 1541.55,
  'low': 1540.0,
  'close': 1540.0},
 {'date': '2015-02-02 10:33:00+05:30',
  'open': 1539.0,
  'high': 1539.25,
  'low': 1538.1,
  'close': 1538.8},
 {'date': '2015-02-02 10:34:00+05:30',
  'open': 1538.8,
  'high': 1538.8,
  'low': 1538.1,
  'close': 1538.15},
 {'date': '2015-02-02 10:35:00+05:30',
  'open': 1538.15,
  'high': 1539.8,
  'low': 1538.15,
  'close': 1538.5},
 {'date': '2015-02-02 10:36:00+05:30',
  'open': 1538.5,
  'high': 1540.0,
  'low': 1538.5,
  'close': 1538.8},
 {'date': '2015-02-02 10:37:00+05:30',
  'open': 1538.8,
  'high': 1540.0,
  'low': 1538.7,
  'close': 1540.0}]

In [34]:
data = data_pd[['date','open','high','low','close','volume']]
data['date'] = pd.to_datetime(data['date'])
data = data.set_index(pd.DatetimeIndex(data['date']))
data = data.resample('120T',offset = "75T").agg({
        'open': 'first',
        'high': 'max',
        'low': 'min',
        'close': 'last',
        'volume': 'sum'
    })

c:\Users\mange\.conda\envs\algo\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [37]:
data1 = data.dropna()

In [31]:
def get_data(stock_name):
    if stock_name+"_minute_data_with_indicators.csv" in os.listdir("data"):
        return pd.read_csv(stock_name+"_minute_data_with_indicators.csv",index_col=False)[['date','open','high','low','close']]

In [32]:
data =get_data("ACC")

In [70]:
# -*- coding: utf-8 -*-
"""
Created on Sat Sep  9 22:06:06 2023

@author: Trader_MIKE
"""

import pandas as pd
import pandas_ta as ta

data = {'Date': pd.date_range(start='2023-01-01', periods=100, freq='D'),
            'Open': [100.0] * 100,
            'High': [110.0] * 100,
            'Low': [90.0] * 100,
            'Close': [105.0] * 100}
    
df = pd.DataFrame(data)



# Display the DataFrame with calculated indicators
print(df_with_indicators)

TypeError: indicators() takes 1 positional argument but 2 were given

In [119]:
def get_data_raw(stock_name,time_interval):
    z = zipfile.ZipFile('data/stock_data.zip')
    df=pd.DataFrame(z.filelist,columns=['zipobj'])
    df['filename'] = df['zipobj'].apply(lambda x:x.filename)
    if stock_name+"_minute_data_with_indicators.csv" in os.listdir("data"):
        data = pd.read_csv("data/"+stock_name+"_minute_data_with_indicators.csv",index_col=False)[['date','open','high','low','close','volume']][0:1000]
        data['date1'] = pd.to_datetime(data['date'])
        data = data.loc[(data.date1.dt.time >= datetime.time(9, 15)) & (data.date1.dt.time < datetime.time(15, 30))]
        data = data.set_index(pd.DatetimeIndex(data['date1']))
        if time_interval == '5min':
            return data.resample('5T').agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna()
        elif time_interval == '30min':
            return data.resample('30T',offset = '15T').agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna()
        elif time_interval == '60min':
            return data.resample('60T',offset = '15T').agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna()
        elif time_interval == '240min':
            return data.resample('240T',offset = '75T').agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna() 
        elif time_interval == '120min':
            return data.resample('120T',offset = "75T").agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna()
        else:
            return data
    else:
        data = pd.read_csv(z.extract(stock_name+"_minute_data_with_indicators.csv","data"))
        data['date1'] = pd.to_datetime(data['date'])
        data = data.loc[(data.date1.dt.time >= datetime.time(9, 15)) & (data.date1.dt.time < datetime.time(15, 30))]
        data = data.set_index(pd.DatetimeIndex(data['date1']))
        if time_interval == '5min':
            return data.resample('5T').agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna()
        elif time_interval == '30min':
            return data.resample('30T',offset = '15T').agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna()
        elif time_interval == '60min':
            return data.resample('60T',offset = '15T').agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna()
        elif time_interval == '240min':
            return data.resample('240T',offset = '75T').agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna() 
        elif time_interval == '120min':
            return data.resample('120T',offset = "75T").agg({
                'date':'first',
                'open': 'first',
                'high': 'max',
                'low': 'min',
                'close': 'last',
                'volume': 'sum'
            }).dropna()
        else:
            return data
def get_data(stock_name,time_interval):
    data = get_data_raw(stock_name,time_interval)
    data_raw = data
    data = data[:200]
    data = data.join(ta.adx(data['high'],data['low'],data['close']))
    data = data.join(ta.ao(data['high'],data['low']))
    data = data.join(ta.aroon(data['high'],data['low']))
    data = data.join(ta.atr(data['high'],data['low'],data['close']))
    data = data.join(ta.cci(data['high'],data['low'],data['close']))
    data = data.join(ta.chop(data['high'],data['low'],data['close']))
    data = data.join(ta.ema(data['close']))
    data = data.join(ta.hma(data['close']))
    data = data.join(ta.macd(data['close']))
    data = data.join(ta.mom(data['close']))
    data = data.join(ta.rsi(data['close']))
    data = data.join(ta.sma(data['close']))
    data = data.join(ta.uo(data['high'],data['low'],data['close']))
    data = data.join(ta.willr(data['high'],data['low'],data['close']))
    ichimoku_data = pd.DataFrame(ta.ichimoku(data['high'],data['low'],data['close']))
    ichimoku_data
    data = data.join(ichimoku_data)
    return data_raw,data

In [120]:
data,data2 = get_data("ACC",'30min')

In [121]:
data2.iloc[-1].to_dict()

{'date': '2015-02-04 14:15:00+05:30',
 'open': 1510.05,
 'high': 1512.05,
 'low': 1509.2,
 'close': 1512.05,
 'volume': 7515,
 'ADX_14': 6.410978430531643,
 'DMP_14': 16.148545805797124,
 'DMN_14': 17.374073749094915,
 'AO_5_34': -16.34308823529409,
 'AROOND_14': 42.85714285714286,
 'AROONU_14': 7.142857142857143,
 'AROONOSC_14': -35.714285714285715,
 'ATRr_14': 13.101182535817587,
 'CCI_14_0.015': -13.758189398448991,
 'CHOP_14_1_100': 39.41444420806942,
 'EMA_10': 1511.4749247833001,
 'HMA_10': 1509.0886868686805,
 'MACD_12_26_9': -6.537060162259422,
 'MACDh_12_26_9': -0.3613910448359494,
 'MACDs_12_26_9': -6.175669117423473,
 'MOM_10': -7.5,
 'RSI_14': 44.74962528030758,
 'SMA_10': 1509.0900000000001,
 'UO_7_14_28': 53.95960794488804,
 'WILLR_14': -81.28078817733994,
 0: None}

In [113]:
data2

,date,open,high,low,close,volume,ADX_14,DMP_14,DMN_14,AROOND_14,...,ATRr_14,CCI_14_0.015,CHOP_14_1_100,EMA_10,HMA_10,MOM_10,RSI_14,SMA_10,WILLR_14,ichimoku_0
date1,,,,,,,,,,,,,,,,,,,,,
2015-02-02 10:15:00+05:30,2015-02-02 10:18:00+05:30,1545.00,1545.00,1538.10,1542.50,6227,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 10:45:00+05:30,2015-02-02 10:45:00+05:30,1542.00,1544.70,1540.00,1540.30,8927,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 11:15:00+05:30,2015-02-02 11:15:00+05:30,1540.30,1544.30,1539.00,1541.00,12389,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 11:45:00+05:30,2015-02-02 11:45:00+05:30,1541.00,1541.15,1523.85,1526.00,18545,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 12:15:00+05:30,2015-02-02 12:15:00+05:30,1527.00,1536.05,1524.15,1531.80,10034,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 12:45:00+05:30,2015-02-02 12:45:00+05:30,1531.80,1535.45,1530.50,1535.00,5588,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 13:15:00+05:30,2015-02-02 13:15:00+05:30,1535.00,1551.75,1531.55,1541.10,18945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 13:45:00+05:30,2015-02-02 13:45:00+05:30,1541.10,1552.00,1540.15,1552.00,10822,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 14:15:00+05:30,2015-02-02 14:15:00+05:30,1551.80,1553.40,1516.00,1521.55,52014,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2015-02-02 14:45:00+05:30,2015-02-02 14:45:00+05:30,1520.65,1531.00,1516.25,1529.45,28056,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1536.070000,NaN,NaN,NaN,1536.070,NaN,None
2015-02-02 15:15:00+05:30,2015-02-02 15:15:00+05:30,1528.70,1529.90,1513.15,1515.30,29625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1532.293636,NaN,-27.20,NaN,1533.350,NaN,None
2015-02-03 09:15:00+05:30,2015-02-03 09:15:00+05:30,1515.00,1537.65,1509.70,1530.30,73556,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1531.931157,1524.300909,-10.00,NaN,1532.350,NaN,None
2015-02-03 09:45:00+05:30,2015-02-03 09:45:00+05:30,1530.30,1531.15,1516.20,1524.65,25047,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1530.607310,1521.494040,-16.35,NaN,1530.715,NaN,None
2015-02-03 10:15:00+05:30,2015-02-03 10:15:00+05:30,1524.65,1537.80,1520.05,1537.00,37459,NaN,NaN,NaN,NaN,...,NaN,-16.058729,NaN,1531.769618,1524.429545,11.00,NaN,1531.815,-37.528604,None
2015-02-03 10:45:00+05:30,2015-02-03 10:45:00+05:30,1537.00,1538.00,1526.70,1536.55,22322,NaN,15.511887,17.769020,78.571429,...,15.503571,11.150375,60.733036,1532.638778,1529.191515,4.75,47.708895,1532.290,-38.558352,None
2015-02-03 11:15:00+05:30,2015-02-03 11:15:00+05:30,1536.55,1539.95,1529.90,1538.80,29192,NaN,15.591278,16.286635,71.428571,...,15.114031,44.765695,61.655707,1533.759000,1534.932273,3.80,48.666802,1532.670,-33.409611,None
2015-02-03 11:45:00+05:30,2015-02-03 11:45:00+05:30,1539.80,1544.95,1526.05,1527.75,36824,NaN,17.084542,14.354675,64.285714,...,15.384457,15.775828,63.904777,1532.666455,1536.192626,-13.35,44.368157,1531.335,-58.695652,None
2015-02-03 12:15:00+05:30,2015-02-03 12:15:00+05:30,1527.75,1527.75,1524.05,1527.45,4849,NaN,16.263164,15.035262,57.142857,...,14.549853,-62.037447,61.655707,1531.718008,1534.660051,-24.55,44.253871,1528.880,-59.382151,None

In [129]:
datetime.datetime.strptime("2023-09-10","%Y-%M-%d")

datetime.datetime(2023, 1, 10, 0, 9)

In [131]:
stock_name = "ACC"
data = pd.read_csv("data/"+stock_name+"_minute_data_with_indicators.csv",index_col=False)[['date','open','high','low','close','volume']]
data['date1'] = pd.to_datetime(data['date'])

In [132]:
data.head()

,date,open,high,low,close,volume,date1
0,2015-02-02 10:18:00+05:30,1545.0,1545.00,1543.1,1544.0,220,2015-02-02 10:18:00+05:30
1,2015-02-02 10:19:00+05:30,1544.0,1544.00,1543.0,1543.7,29,2015-02-02 10:19:00+05:30
2,2015-02-02 10:20:00+05:30,1543.7,1543.70,1542.5,1543.0,28,2015-02-02 10:20:00+05:30
3,2015-02-02 10:21:00+05:30,1543.0,1543.00,1542.3,1542.3,125,2015-02-02 10:21:00+05:30
4,2015-02-02 10:22:00+05:30,1541.1,1542.15,1541.1,1542.1,113,2015-02-02 10:22:00+05:30

In [155]:
from_time = "2015-04-10"
to_time = "2022-01-10"
data.loc[(data.date1.dt.time >= datetime.time(9, 15)) & 
                        (data.date1.dt.time < datetime.time(15, 30)) & (data.date1.dt.date > datetime.datetime.strptime(from_time+" 00:00:00+05:30",'%Y-%m-%d %H:%M:%S%z').date())
                        & (data.date1.dt.date < datetime.datetime.strptime(to_time+" 00:00:00+05:30","%Y-%m-%d %H:%M:%S%z").date())]

,date,open,high,low,close,volume,date1
16400,2015-04-13 09:15:00+05:30,1636.00,1636.00,1631.00,1632.00,2415,2015-04-13 09:15:00+05:30
16401,2015-04-13 09:16:00+05:30,1632.90,1636.00,1631.00,1636.00,3468,2015-04-13 09:16:00+05:30
16402,2015-04-13 09:17:00+05:30,1639.10,1639.10,1635.40,1635.60,699,2015-04-13 09:17:00+05:30
16403,2015-04-13 09:18:00+05:30,1636.20,1639.20,1635.00,1637.25,1167,2015-04-13 09:18:00+05:30
16404,2015-04-13 09:19:00+05:30,1638.65,1639.00,1635.30,1638.50,3045,2015-04-13 09:19:00+05:30
...,...,...,...,...,...,...,...
592229,2022-01-07 15:25:00+05:30,2290.05,2290.05,2288.00,2288.75,1998,2022-01-07 15:25:00+05:30
592230,2022-01-07 15:26:00+05:30,2288.80,2290.00,2287.90,2288.30,1849,2022-01-07 15:26:00+05:30
592231,2022-01-07 15:27:00+05:30,2289.80,2290.00,2285.90,2287.00,2572,2022-01-07 15:27:00+05:30
592232,2022-01-07 15:28:00+05:30,2287.00,2290.00,2285.65,2290.00,2697,2022-01-07 15:28:00+05:30
592233,2022-01-07 15:29:00+05:30,2286.05,2290.00,2285.70,2290.00,660,2022-01-07 15:29:00+05:30

In [151]:
datetime.datetime.strptime(to_time+" 00:00:00+05:30","%Y-%m-%d %H:%M:%S%z").date()

datetime.date(2023, 9, 10)

In [153]:
data

,date,open,high,low,close,volume,date1
0,2015-02-02 10:18:00+05:30,1545.00,1545.00,1543.10,1544.00,220,2015-02-02 10:18:00+05:30
1,2015-02-02 10:19:00+05:30,1544.00,1544.00,1543.00,1543.70,29,2015-02-02 10:19:00+05:30
2,2015-02-02 10:20:00+05:30,1543.70,1543.70,1542.50,1543.00,28,2015-02-02 10:20:00+05:30
3,2015-02-02 10:21:00+05:30,1543.00,1543.00,1542.30,1542.30,125,2015-02-02 10:21:00+05:30
4,2015-02-02 10:22:00+05:30,1541.10,1542.15,1541.10,1542.10,113,2015-02-02 10:22:00+05:30
...,...,...,...,...,...,...,...
660528,2022-10-24 19:10:00+05:30,2255.80,2255.90,2254.55,2255.00,199,2022-10-24 19:10:00+05:30
660529,2022-10-24 19:11:00+05:30,2255.75,2255.95,2254.55,2255.95,227,2022-10-24 19:11:00+05:30
660530,2022-10-24 19:12:00+05:30,2256.00,2256.25,2255.35,2256.25,594,2022-10-24 19:12:00+05:30
660531,2022-10-24 19:13:00+05:30,2255.50,2255.95,2254.55,2255.00,267,2022-10-24 19:13:00+05:30
660532,2022-10-24 19:14:00+05:30,2255.00,2259.00,2254.00,2256.00,365,2022-10-24 19:14:00+05:30